flows.json
[{"id":"e72d6f2b.045fa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aabe6c35.4b608","type":"ui_form","z":"e72d6f2b.045fa","name":"","label":"","group":"42d20d81.45db34","order":2,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":81,"y":266,"wires":[["eee8992e.e24768"]],"l":false},{"id":"eee8992e.e24768","type":"function","z":"e72d6f2b.045fa","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":241,"y":273,"wires":[["1a7c7970.f01047","cdb93864.bdfc08"]],"l":false},{"id":"d0d9ef7b.03209","type":"function","z":"e72d6f2b.045fa","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":538,"y":323,"wires":[["356f46d1.02b3fa"]],"l":false},{"id":"1a7c7970.f01047","type":"watson-conversation-v1","z":"e72d6f2b.045fa","name":"","workspaceid":"bb3c5f0f-2b2c-4201-96ce-683abb2720e9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/770b046a-803d-4c25-9047-0665f07a0742","timeout":"","optout-learning":false,"x":410,"y":151,"wires":[["d0d9ef7b.03209","287f33b8.88253c"]],"l":false},{"id":"287f33b8.88253c","type":"debug","z":"e72d6f2b.045fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":627.5,"y":186,"wires":[],"l":false},{"id":"cdb93864.bdfc08","type":"ui_text","z":"e72d6f2b.045fa","group":"42d20d81.45db34","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":257,"y":434,"wires":[],"l":false},{"id":"356f46d1.02b3fa","type":"ui_text","z":"e72d6f2b.045fa","group":"42d20d81.45db34","order":1,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":695,"y":415,"wires":[],"l":false},{"id":"42d20d81.45db34","type":"ui_group","name":"SHOP","tab":"fcfa7b9c.176f48","order":1,"disp":true,"width":14,"collapse":false},{"id":"fcfa7b9c.176f48","type":"ui_tab","name":"CHATBOT","icon":"dashboard","disabled":false,"hidden":false}]